.wrapper {
  display: flex;
  position: relative;
}

.left {
  width: 20%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.right {
  text-align: center;
  width: 80%;
  padding: 50px;
  margin: 0 auto;
}
